
@font-face {
  font-family: 'IbarraRealNova';
  src: url('./fonts/IbarraRealNova-Bold.woff') format('woff'),
       url('./fonts/IbarraRealNova-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'IbarraRealNova';
  src: url('./fonts/IbarraRealNova-Regular.woff') format('woff'),
       url('./fonts/IbarraRealNova-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0 ;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

.container3{
    width: 1440px;
    margin: 0 auto;
    
}

.container4{
    
    width: 1111px;
    margin-left: 130px;
}

.portfoilo-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    gap: 20px;
    list-style: none;
}

.portfoilo-list{
   display: flex;
   gap: 50px;
   justify-content: space-between;
}

.fa-solid{
    display: none;
}

.hero2-img{
    width: 540px;
    height: 500px;
}

.hero2-img:hover{
     box-shadow: -8px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.manage{
width: 500px;
height: 500px;
padding-left: 190px;
margin-left: 100px;
align-items: center;
}

.hero2{
    display: flex;
    margin-top: 80px;
}


.manage-hr1{
    margin-bottom: 70px;
}

.manage-hr2{
    margin-top: 200px;
}

.manage-hr3{
    margin-top: 168px;
}

.manage-btn{
    width: 175px;
    height: 38px;
    padding-top: 12px;
    background-color: white;
}

.manage-btn:hover{
     box-shadow: -8px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.manage-btn:active{
    background-color: blue;
    color: white;
}

.manage1{
width: 350px;
height: 500px;
padding-left: 10px;
margin-right: 100px;
align-items: center; 
}

.hero3{
    display: flex;
    padding-left: 200px;
}

.contact1{
width: 1440px;
height: 314px;
top: 1650px;
}

.hr5{
    width:  534px;
}

.contact3{
width: 1110px;
height: 84px;
display: flex;
align-items: center;
gap: 50px;
font-size: 20px;
height: 84px;
padding-top: 180px;
}

.contact-btn{
width: 162px;
height: 48px;
top: 18px;
left: 948px;
opacity: 1;
background-color: white;
padding-top: 14px;
}

.contact-btn:hover{
     box-shadow: -8px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.contact-btn:active{
    background-color: blue;
    color: white;
}

.group10{
    width: 1440px;
height: 80px;
opacity: 1px;
margin-top: 70px;
}

.container5{
    background:  #33323D;
    height: 80px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.a1{
    color: white;
}

.navbar-img1{
    margin-top: 30px;
    filter: brightness(0) invert(1);
}

.navbar-img1{
    margin-left: 30px;
    margin-top: 30px;
    filter: brightness(0) invert(1);
}

.list2{
    display: flex;
    color: white;
}

.ul1{
    margin-left: 30px;
    margin-top: 20px;
    display: flex;
    gap: 50px;
    margin-right: 900px;
    color: white;
}

@media only screen and (max-width:311px) {

    body{background-color: rgb(255, 255, 255);}

    .portfoilo-list{
        display: none;
    }

    .fa-solid{
        display: inline-block;
    }

    .nav-img{
        width: 200px;
    }

    .hero2, .hero3{
        flex-direction: column;
    }

    .hero2-img{
        width: 1140px;
        margin-left: 190px;
    }

    .manage{
        width: 1340px;
        margin-top: 150px;
        margin-right: 500px;
    }

}
