@font-face {
    font-family: 'IbarraRealNova';
    src: url('./fonts/IbarraRealNova-Bold.woff') format('woff'),
        url('./fonts/IbarraRealNova-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'IbarraRealNova';
    src: url('./fonts/IbarraRealNova-Regular.woff') format('woff'),
        url('./fonts/IbarraRealNova-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.container2 {
    width: 1111px;
    margin-left: 130px;
}

nav {
    display: flex;
    justify-content: space-between;
}

.list {
    display: flex;
    gap: 50px;
    align-items: center;
}

.fa-solid {
    display: none;
}

.list:hover {
    color: blue;
}

.img {
    width: 1110px;
    height: 600px;
    margin-top: 60px;

}

.hero-card {
    position: absolute;
    top: 330px;
    width: 445px;
    height: 365px;
    padding: 20px;
    background: white;
}

.hero-img {
    padding-top: 120px;
}

.hero-title {
    padding-top: 20px;
    padding-right: 100px;
}

.about {
    display: flex;
    gap: 20px;
    align-items: center;
}

.about-title {
    padding-bottom: 18px;
}


.text1 {
    width: 350;
    height: 600;
    padding-top: 10px;
    left: 830px;
    opacity: 1;
    padding-left: 100px;
    font-size: 18px;
}

.about-text {
    width: 350px;
    height: 360px;
    color: #33323D;


}

.about-btn {
    width: 202px;
    height: 48px;
    padding-top: 14px;
    align-items: center;
    background-color: white;
}

.about-btn:hover {
    box-shadow: -8px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.about-btn:active {
    background-color: blue;
    color: white;
}

.about-img {
    width: 540px;
    height: 600px;
    padding-top: 45px;
}

hr {
    margin-top: 38px;
}

.contact1 {
    width: 1440px;
    height: 314px;
    top: 1650px;
}

.hr5 {
    width: 534px;
}

.contact {
    width: 1110px;
    height: 84px;
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 20px;
    height: 84px;
    padding-top: 180px;
}

.contact-btn {
    width: 162px;
    height: 48px;
    top: 18px;
    left: 948px;
    opacity: 1;
    background-color: white;
    padding-top: 14px;
}

.contact-btn:hover {
    box-shadow: -8px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.contact-btn:active {
    background-color: blue;
    color: white;
}

.group10 {
    width: 1440px;
    height: 80px;
    opacity: 1px;
    margin-top: 70px;
}

.container3 {
    background: #33323D;
    height: 80px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.a {
    color: white;
}

.navbar-img1 {
    margin-top: 30px;
    filter: brightness(0) invert(1);
}

.navbar-img {
    margin-left: 30px;
    margin-top: 30px;
    filter: brightness(0) invert(1);
}

.list2 {
    display: flex;
    color: white;
}

.ul1 {
    margin-left: 30px;
    margin-top: 20px;
    display: flex;
    gap: 50px;
    margin-right: 900px;
    color: white;
}

@media only screen and (max-width:311px) {
    body {
        background-color: rgb(255, 255, 255);
    }

    .container {
        width: 97%;
    }

    .list {
        display: none;
    }

    .fa-solid {
        display: inline-block;
    }

    .img {
        width: 811px;
        height: 471px;
        margin-top: 104px;
        opacity: 1;
    }

    .hero-card {
        width: 811px;
        height: 471px;
        margin-top: 275px;
    }

    .hero-title {
        font-size: 60px;
    }

    .about {
        flex-direction: column;
        width: 811px;
        height: 571px;
        margin-top: 475px;
        opacity: 1;

    }

    .about-img {
        width: 811px;
        height: 671px;
    }

    .text1 {
        width: 910px;
        height: 617px;
        padding-top: 21px;
        margin-right: 95px;
    }

    .contact1{
        margin-top: 700px;
    }

    .about-title{
        font-size: 60px;
    }

    .about-text{
        font-size: 20px;
        line-height: 30px;
    }

    .contact{
        flex-direction: column;
    }

    .contact-title{
        font-size: 120px;
        margin-right: 300px;
        margin-top: 60px;
    }
    
    .contact-btn{
        width: 400px;
        height: 80px;
        font-size: 40px;
    }

    .hr5{
        display: none;
    }


    .container3{
        width: 1000px;
        height: 500px;
        margin-top: 650px;
    }

    .ul1{
        flex-direction: column;
        margin-top: 50px;
        margin-left: 900px;
    }

    .navbar{
        flex-direction: column;
    }

    .navbar-img{
        margin-top: 50px;
        width: 100px;
        height: 80px;
    }

    .navbar-img1{
        width: 200px;
        margin-top: 40px;
        margin-left: 100px;
    }


}